In [35]:
import numpy as np
import pandas as pd

In [36]:
def pregunta_01():
    """
    Carga de datos.
    -------------------------------------------------------------------------------------
    """
    # Lea el archivo `insurance.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('insurance.csv')

    # Asigne la columna `charges` a la variable `y`.
    y = df['charges'].values

    # Asigne una copia del dataframe `df` a la variable `X`.
    X1 = df.copy()

    # Remueva la columna `charges` del DataFrame `X`.
    X=X1.drop(['charges'],axis=1)

    # Retorne `X` y `y`
    return X, y

In [37]:
 # Lea el archivo `insurance.csv` y asignelo al DataFrame `df`
df = pd.read_csv('insurance.csv')

In [38]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [39]:
# Asigne la columna `charges` a la variable `y`.
y = df['charges'].values

In [40]:
# Asigne una copia del dataframe `df` a la variable `X`.
X1 = df.copy()

In [41]:
# Remueva la columna `charges` del DataFrame `X`.
X=X1.drop(['charges'],axis=1)

In [42]:
X.shape

(1338, 6)

In [43]:
y.shape

(1338,)

In [44]:
def pregunta_02():
    """
    Preparación de los conjuntos de datos.
    -------------------------------------------------------------------------------------
    """

    # Importe train_test_split
    from ____ import ____

    # Cargue los datos y asigne los resultados a `X` y `y`.
    X, y = pregunta_01()

    # Divida los datos de entrenamiento y prueba. La semilla del generador de números
    # aleatorios es 12345. Use 300 patrones para la muestra de prueba.
    (X_train, X_test, y_train, y_test,) = ____(
        ____,
        ____,
        test_size=____,
        random_state=____,
    )

    # Retorne `X_train`, `X_test`, `y_train` y `y_test`
    return X_train, X_test, y_train, y_test

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
 # Cargue los datos y asigne los resultados a `X` y `y`.
X, y = pregunta_01()

In [ ]:
# Divida los datos de entrenamiento y prueba. La semilla del generador de números
# aleatorios es 12345. Use 300 patrones para la muestra de prueba.
(X_train, X_test, y_train, y_test,) = train_test_split(
    X,
    y,
    test_size=300,
    random_state=_,
)

In [ ]:
(X_train, X_test, y_train, y_test,) = train_test_split(
        X_fertility,
        y_life,
        test_size= round(0.2*len(X_fertility)),
        random_state= 53,
    )